/******************************************************************************************/
/*                                                                                        */
/*    Tables des matières :                                                               */
/*                                                                                        */
/*    1. GLOBAL                                                                           */
/*    2. HEADER                                                                           */
/*    3. ACCUEIL                                                                          */
/*    4. REGLES                                                                           */
/*    5. PARTICIPATIONS                                                                   */
/*    6. RESULTATS                                                                        */
/*    7. REJOINDRE                                                                        */
/*    8. FOOTER                                                                           */
/*                                                                                        */
/******************************************************************************************/



/* GLOBAL *********************************************************************************/

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family:'Poiret One', sans-serif;
    color:var(--noir);
    background-color: var(--blanc);
    font-size:1.25em;
}

h1,
h2,
h3 {
    font-family:'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {    
    color:var(--violet);
}

/* classes de couleurs : */

.t-rose {
    color:var(--rose);
}

.t-jaune {
    color:var(--jaune);
}

.t-turq {
    color:var(--turquoise);
}

.t-bleu {
    color:var(--bleu);
}

.t-vert {
    color:var(--vert);
}

/* padding */

.p-y {
    padding-top: var(--pad-top);
    padding-bottom: var(--pad-bot);
}

.p-x {
    padding-left: var(--pad-side);
    padding-right: var(--pad-side);
}

/* HEADER *********************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:9999;
    width: 100%;
    background-color: var(--noir);
    position: fixed;
}

#logo{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
}

#logo img {
    width: 50px;
    border-radius: 25px;
}

#nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    padding:10px 25px;
}

#nav a:hover {
    color:var(--blanc);
}

/* ACCUEIL ********************************************************************************/

#accueil {
    width: 100%;
    height: calc(100vh - 70px);
}

.diaporama {
    z-index: 1;
    position: absolute;
    width: 100%;
    height:calc(100vh - 70px);
    overflow: hidden;
}

.diapo {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s;
}

.diapo.disImg{
    opacity: 1;
}

#accueil span {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 2;
    background-image:linear-gradient(rgba(255,0,0,0) 30%, var(--blanc));
}

h1 {
    text-align: right;
    position: relative;
    z-index: 3;
    font-size: 6em;
    line-height: 1em;
    top:70vh;
    right:var(--pad-side);
    

}



/* REGLES *********************************************************************************/
/* PARTICIPATIONS *************************************************************************/
/* RESULTATS ******************************************************************************/
/* REJOINDRE ******************************************************************************/
/* FOOTER *********************************************************************************/