/******************************************************************************************/
/*                                                                                        */
/*    Tables des matières :                                                               */
/*                                                                                        */
/*    1. 1500px                                                                           */
/*    2. 1280px                                                                           */
/*    3. 1024px                                                                           */
/*    4. 768px                                                                            */
/*    5. 480px                                                                            */
/*                                                                                        */
/*    Chaque partie respecte l'organisation du fichier app.css :                          */
/*       1. GLOBAL                                                                        */
/*       2. HEADER                                                                        */
/*       3. ACCUEIL                                                                       */
/*       4. REGLES                                                                        */
/*       5. PARTICIPATIONS                                                                */
/*       6. RESULTATS                                                                     */
/*       7. REJOINDRE                                                                     */
/*       8. FOOTER                                                                        */
/*                                                                                        */
/******************************************************************************************/

/* 1500px ************************************************************************/
@media screen and (max-width:1500px) {

    h1,
    h2 {
        font-size: 5em;
    }
}


/* 1280px*720px ************************************************************************/

@media screen and (max-width:1280px) {
    
    /* GLOBAL */
    h1,
    h2 {
        font-size: 4.5em;
    }

    /* HEADER */
    #nav ul li a {
        padding: 10px 20px;
    }

    /* PARTICIPATIONS */
    .carousel {
        height: 60vh;
    }

    .slide {
        width: 50%;
    }

    .archi {
        font-size: 2.5rem;
        top: 85%;
        right: 4%;
    }

    /* RESULTATS */
    #resultats p {
        font-size: 2.5rem;
    }

    /* REJOINDRE */
    #rejoindre form {
        width: 70%;
        ;
    }

}

/* 1024 ************************************************************************/


@media screen and (max-width:1024px) {

    /* GLOBAL */
    .p-x {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* HEADER */
    #nav ul li a {
        padding: 10px 15px;
    }

    /* PARTICIPATIONS */
    .carousel {
        height: 50vh;
    }

    .right {
        left: 68%;
    }

    .mid-left {
        left: 10%;
    }

    .carousel nav button {
        padding: 20px;
    }

    .carousel nav button:first-child {
        margin-right: 30px;
    }

}

/* 768 *************************************************************************/


@media screen and (max-width:768px) {

    /* GLOBAL */
    .body {
        font-size: 1em;
    }

    h1,
    h2 {
        font-size: 3em;
    }

    .p-x {
        padding-left: 5%;
        padding-right: 5%;
    }

    .p-y {
        padding-top: 75px;
        padding-bottom: 25px;
    }

    /* HEADER */
    /* MISE EN PLACE DU MENU BURGER */
    #nav label {
        display: block;
        z-index: auto;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #nav>ul {
        display: none;
    }

    #nav input:checked+ul {
        display: flex;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        height: auto;
        background: var(--noir);
        z-index: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    #nav>ul li {
        width: 100%;
    }

    #nav>ul li a {
        text-align: right;
        padding: 30px 10%;
        border-bottom: 1px solid var(--blanc);
    }

    #nav>ul li:hover,
    #nav>ul li:active {
        background-color: var(--gris);
    }

    #logo>img {
        width: 45px;
    }

    /* ACCUEIL */
    .diapo {
        top: 70px;
    }

    #accueil {
        height: 435px;
    }

    /* PARTICIPATIONS */
    #participations,
    #resultats {
        margin-bottom: 50px;
    }

    /* le carousel devient un slider à 1 image visible en display:block & display:none et non plus avec l'utilisation d' "opacity" */
    .carousel {
        height: auto;
        position: relative;
    }

    .slide {
        width: 90%;
        position: relative;
        display: none;
    }

    .mid-left,
    .mid-right,
    .left,
    .right {
        display: none;
    }

    .center {
        display: block;
    }

    .archi {
        font-size: 2.5rem;
        top: 85%;
        right: 4%;
    }

    .carousel nav {
        height: auto;
        position: absolute;
        top: 50%;
        justify-content: space-between;
    }

    #participations #btn {
        justify-content: center;
        margin-top: 60px;
    }

    /* RESULTATS */
    #resultats p {
        font-size: 2rem;
    }

    /* modification de la grille */
    .mosaic {
        grid-template-rows: 1fr 1/2fr 1fr 1fr;
    }

    #i-6,
    #i-8 {
        grid-column-start: 1;
        grid-column-end: 3;
        transform-origin: left;
    }

    #i-7,
    #i-9 {
        grid-column-start: 3;
        grid-column-end: 5;
        transform-origin: right;
    }

    /* REJOINDRE */
    #rejoindre form {
        width: 80%;
        ;
    }
}

/* 480 *************************************************************************/


@media screen and (max-width:480px) {

    /* GLOBAL */
    .p-y {
        padding-bottom: 0px;
    }

    h1,
    h2 {
        font-size: 2.7em;
    }

    /* ACCUEIL */
    #accueil {
        height: 325px;
    }

    /* PARTICIPATIONS */
    .archi {
        font-size: 1.8rem;
        top: 100%;
        right: 0;
    }

    .carousel nav button {
        padding: 10px;
        font-size: 1.25rem;
    }

    /* RESULTATS */
    /* modification de la grille */
    .mosaic {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .mosaic #i-3,
    .mosaic #i-4,
    .mosaic #i-5 {
        display: none;
    }

    .mosaic #i-1,
    .mosaic #i-2,
    .mosaic #i-6,
    .mosaic #i-7,
    .mosaic #i-8,
    .mosaic #i-9,
    .mosaic #i-10,
    .mosaic #i-11 {
        grid-column-start: 1;
        grid-column-end: 2;
        pointer-events: none;
        box-shadow: 0px 5px 5px var(--noir);
        filter: brightness(1);
    }

    /* REJOINDRE */
    #rejoindre form {
        width: 95%;
    }
}